body {
  background-color: #f0f2f5;
}

.search-input {
  display: inline-block;
  margin-bottom: 24px;
}

input {
  height: 40px;
  padding: 6px 30px 6px 11px;
  font-size: 16px;
  box-sizing: border-box;
  box-shadow: inset 0 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.05);
  border-color: #dee2e6;
  border-style: solid;
  width: 400px;
}

.search-result-text {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
}

input:focus {
  border-color: #4dabf7;
  outline: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(34, 139, 230, 0.5);
}
.input-reset {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 4px;
  color: #adb5bd;
}

.input-reset:hover {
  color: #495057;
}

.layout {
  display: flex;
  flex: auto;
  flex-direction: column;
  min-height: 0;
  background: #f0f2f5;
}

.card {
  margin: 24px;
  padding: 24px;
  background: #fff;
  border-radius: 2px;
}

.list-items {
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  line-height: 1.5;
}

.list-item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e8e8e8;
}
.list-item:first-child {
  padding-top: 0;
}
.list-item:last-child {
  border-bottom: none;
}

.list-item > h4 {
  margin-top: 0;
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.fas {
  margin-right: 8px;
}

a {
  color: #1890ff;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

a:hover {
  color: #40a9ff;
}

.list-item > div:not(.list-item-footer) {
  display: flex;
  align-items: center;
}

.list-item > div .fas {
  align-self: flex-start;
  line-height: 1.5;
}

.list-item-footer {
  margin-top: 12px;
}

.list-item-footer .action {
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  padding: 4px 8px;
  background-color: #1890ff;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  transition: all 0.3s;
  color: #fff;
}

.list-item-footer .action:hover {
  background-color: #40a9ff;
}

@media only screen and (max-width: 425px) {
  .search-input {
    display: block;
  }

  input {
    width: 100%;
  }
}

.App-link {
  color: #61dafb;
}
